@use "sass:color" as *;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
$base-color-1: #2da3f1;
$base-color-2: #e21616;
$base-color-3: #fbff00;

$oscurecer: 4;
$aclarar: 4;

body {
  background-color: #141414;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 90px;
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
